
div{
    display: flex;
    justify-content: center;
    align-items: center;
}

table{
    width: 450px;
    
    padding:5px;
    border: solid 1px orange;
    border-radius: 5px;
}

select,input{
    width: 100%;
}