<h2>Material Angular - Formulario</h2>

<form class="formulario">
    <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput placeholder="Indique el nombre" value="Rigoberto">
    </mat-form-field>
</form>


<!--
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Input</mat-label>
      <input matInput>
    </mat-form-field>
    <br>
    
    <mat-form-field appearance="fill">
        <mat-label>Situacion Laboral</mat-label>
        <mat-select required>
          <mat-option *ngFor="let situacion of situacionLaboral" [value]="situacion.value">
            {{situacion.viewValue}}
          </mat-option>
        </mat-select>
    </mat-form-field>

    <br>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
-->
<!--
nombre
apellido1
apellido2
fecha de nacimiento
hombre/mujer?
Desea recibir newsletter de Java ?
Desea recibir newsletter de Angular ?
Situacion laboral ? (desempleado, empleado cuenta ajena, autonomo, otra)
observaciones

Boton Enviar
-->