<h2>Material Angular - Formulario</h2>

<div>
  <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput [(ngModel)]="nombre" placeholder="Ex. Pepín">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Primer Apellido</mat-label>
      <input matInput [(ngModel)]="apellido1" placeholder="Ex. Gálvez">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Segundo Apellido</mat-label>
      <input matInput [(ngModel)]="apellido2" placeholder="Ex. Ridruejo">
  </mat-form-field>

  <mat-form-field class="example-full-width">
      <mat-label>Fecha de Nacimiento</mat-label>
      <input matInput [matDatepicker]="fechaNacimiento">
      <mat-datepicker-toggle matSuffix [for]="fechaNacimiento"></mat-datepicker-toggle>
      <mat-datepicker #fechaNacimiento></mat-datepicker>
  </mat-form-field>

</div>    

<p>{{nombre}}</p>
<p>{{apellido1}}</p>
<p>{{apellido2}}</p>

<!--
nombre
apellido1
apellido2
fecha de nacimiento
hombre/mujer?
Desea recibir newsletter de Java ?
Desea recibir newsletter de Angular ?
Situacion laboral ? (desempleado, empleado cuenta ajena, autonomo, otra)
observaciones

Boton Enviar
-->