


button{
    font-size: x-large;
    font-weight: bold;
    border: solid 1px rgba(0,28,105,1);
    background-color: white;
    margin: 3px;
    
    background: rgb(172,172,172);
    background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(0,28,105,1) 100%);

    border-radius:  25px;

    color: whitesmoke;


}