<h1>Calculator</h1>
<!--
<div>resultado de : {{texto}} </div>
<div>{{display}} </div>

<br>
<button (click)="boton(7)">7</button>
<button (click)="boton(8)">8</button>
<button (click)="boton(9)">9</button>
<br>
<button (click)="boton(4)">4</button>
<button (click)="boton(5)">5</button>
<button (click)="boton(6)">6</button>
<br>
<button (click)="boton(1)">1</button>
<button (click)="boton(2)">2</button>
<button (click)="boton(3)">3</button>
<br>
<button (click)="boton(0)">0</button>
<br>
<button (click)="botonClear()">Clear</button>
<button (click)="botonSumar()">+</button>
<button (click)="botonRestar()">-</button>
<button (click)="botonIgual()">=</button>
-->

<div id="calculator">
    <div id="resultado">resultado de : {{texto}} </div>
    <div id="display">{{display}} </div>
    
    <br>
    <button id="boton77" (click)="boton(7)">7</button>
    <button id="boton8" (click)="boton(8)">8</button>
    <button id="boton9" (click)="boton(9)">9</button>
    <button id="botonClear" (click)="botonClear()">Clear</button>
    <br>
    <button id="boton4" (click)="boton(4)">4</button>
    <button id="boton5" (click)="boton(5)">5</button>
    <button id="boton6" (click)="boton(6)">6</button>
    <button id="botonSumar" (click)="botonSumar()">+</button>
    <br>
    <button id="boton1" (click)="boton(1)">1</button>
    <button id="boton2" (click)="boton(2)">2</button>
    <button id="boton3" (click)="boton(3)">3</button>
    <button id="botonRestar" (click)="botonRestar()">-</button>
    <br>
    <button id="boton0" (click)="boton(0)">0</button>
    <button id="boton0" style="visibility: hidden;" ></button>
    <button id="boton0" style="visibility: hidden;"></button>
    <button id="boton0" style="visibility: hidden;"></button>
    <button id="botonIgual" (click)="botonIgual()">=</button>
    <br>
    
    
    

</div>


