.example-card {
    max-width: 300px;
    border-radius: 10px;
    background-color: #777777;
    color: whitesmoke;
    
    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
  }
  
.example-header-image {
    background-image: url('https://images.smulweb.nl/recepten/201705/1452775/high_res/pizza-frutti-di-mare.jpg');
    background-size: cover;
  }
  
mat-card-content{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size : 10px;
    font-style: italic;
}

.subtitulo{
    color:#cccccc;
    
}