<h2>Material Angular - Card</h2>

<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>La Piazza Grande</mat-card-title>
      <mat-card-subtitle class="subtitulo">Pizzeria Italiana</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="http://www.piazzagrande.es/img-trans/productos/22553/fotos/540-572b71847cb86-.jpg" alt="Foto de la Piazza Grande">
    
    <mat-card-content>
        
            El restaurant Piazza Grande està situat molt a prop del mar i de la rambla del Poblenou de Barcelona. Des de 2004 elaborem les millors especialitats de la cuina italiana, partint sempre de la millor matèria primera.
            <br>
            La nostra carta compta amb antipasti italià, pizzes, pastes, carns i peixos. A més, també servim delicioses postres casolanes a les que no t'hi podràs resistir.
            <br>
            Piazza Grande és un espai tradicional i familiar. Està equipat amb mobiliari de fusta i decorat en colors càlids. Disposem d'un ampli menjador amb molta llum i també comptem amb una acollidora terrassa.
        
    </mat-card-content>

    <mat-card-actions>
      <button mat-button>LIKE</button>&nbsp;
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>