body{
    margin-top: 10px;
    margin-left: 300px;
    margin-right: 300px;
}
header{

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 15px;

    background-color:rgb(255, 244, 223);
    background-image: linear-gradient(to bottom, orange ,transparent);

    color: whitesmoke;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: solid 1px darkgreen;
    border-radius: 10px;

    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);
}

div{
    margin-top: 25px;
    margin-bottom: 10px;
    
    padding-top: 5px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    
    background-color:rgb(255, 244, 223);
    background-image: linear-gradient(to right,orange , transparent 10% ,transparent 90%, orange);
    color: lightslategrey;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    border: solid 1px orange;
    border-radius: 10px;

    box-shadow: 6px 6px 5px 0px rgba(0,0,0,0.55);

}

h1{
    display: flex;
    justify-content: center;
    align-items: center;

    color: black;
    font-weight: bold;
    font-variant: small-caps;
    font-size: 30px;
    font-family: monospace;
}
