<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Angular Projects</title>
</head>
<body>
    <header>{{titulo}}</header>
    <div>
    <h1>Componente Nº5  </h1>
    <app-conversor-grados></app-conversor-grados>
    <hr>
    </div>
    
    <div>
    <h1>Componente Nº4  </h1>
    <app-box></app-box>
    <hr>
    </div>
    
    <h1>Componente Nº3  </h1>
    <app-reloj></app-reloj>
    <hr>
    
    <h1>Componente Nº2  </h1>
    <app-calculator></app-calculator>
    <hr>
    
    <h1>Componente Nº1  </h1>
    <p>El numero es {{numero}}</p>
    <button (click)="incrementar()">+</button>
    <button (click)="decrementar()">-</button>
    <hr>

</body>
</html>

