
    <div class="principal">
        <header>{{titulo}}</header>
    
        <div>
            <h1>Componente Nº13  </h1>
            <app-material3></app-material3>
        </div>
    
        <div>
            <h1>Componente Nº12  </h1>
            <app-material2></app-material2>
        </div>
    
        <div>
            <h1>Componente Nº11 V2  </h1>
            <app-material1v2></app-material1v2>
        </div>
    
        <div>
            <h1>Componente Nº11  </h1>
            <app-material1></app-material1>
        </div>
    
        <div>
            <h1>Componente Nº10  </h1>
            <app-vending-machine></app-vending-machine>
        </div>

        <div>
            <h1>Componente Nº9  </h1>
            <app-list2></app-list2>
        </div>

        <div>
            <h1>Componente Nº8  </h1>
            <app-list1></app-list1>
        </div>

        <div>
            <h1>Componente Nº7  </h1>
            <app-pipe-showcase></app-pipe-showcase>
        </div>
    
        <div>
            <h1>Componente Nº6  </h1>
            <app-conversor-divisas></app-conversor-divisas>
        </div>
        
        <div>
            <h1>Componente Nº5  </h1>
            <app-conversor-grados></app-conversor-grados>
        </div>
    
        <div>
            <h1>Componente Nº4  </h1>
            <app-box></app-box>
        </div>

        <div>
            <h1>Componente Nº3  </h1>
            <app-reloj></app-reloj>
        </div>

        <div>
            <h1>Componente Nº2  </h1>
            <app-calculator></app-calculator>
        </div>

        <div>
            <h1>Componente Nº1  </h1>
            <p>El numero es {{numero}}</p>
            <button (click)="incrementar()">+</button>
            <button (click)="decrementar()">-</button>
        </div>
    </div>
    

